@import '~bootstrap/scss/bootstrap';

$text-color: $black;

body {
  background-color: black;
  color: #9D00FF;
}

.container {
  height: 100vh;
}

.board {
  max-height: calc(100vh - 200px);
  max-width: calc(100vh - 100px);
  margin: auto;
}

.box {
  border-right: 10px solid $text-color;
  background-image: src('./assets/styles/Lazer1.png');

  border-bottom: 10px solid $text-color;
  &:nth-child(3n) {
    border-right: 0;
  }
&:nth-last-child(-1n + 3){
  border-bottom: 0;
  }
  &:hover {
    background-color: #FE019A;
    cursor: pointer;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  font-family: Road;
  font-size: 50px
}

h1{
font-family: 'Rowdies', cursive;
font-size: 40px;
}

#message{
  font-size: 40px
}

body{
background-image: url(https://images.squarespace-cdn.com/content/v1/5e3c600a64a00b1d67b8f8bb/1581806510596-LAKTK4IKA2PSNX1053FZ/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/0020_greenscreen_retrowave_neon_grids.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

}

button {
  margin: 5px;
  width: 170px;
  background-color: #FE019A
}

input[type=text], input[type=password], input[type=email] {
  width: 190px;
  background-color: #9D00FF;
}
