@import '~bootstrap/scss/bootstrap';

$text-color: $white;

body {
  background-color: #000000;
  color: $text-color;
}

.container {
  height: 100vh;
}

.board {
  max-height: calc(100vh - 200px);
  max-width: calc(100vh - 100px);
  margin: auto;
}

.box {
  border-right: 10px solid $text-color;
  // min-height: calc(100px/2)

  border-bottom: 10px solid $text-color;
  &:nth-child(3n) {
    border-right: 0;
  }
&:nth-last-child(-1n + 3){
  border-bottom: 0;
  }
  &:hover {
    background-color: gold;
    cursor: pointer;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

// I may not need this code below
// I spreated this from the other .box I could not get to work other wise.
// .box::before {
//   content: '◯';
//   font-size: 100px;
// }



.win-message{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
